body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

header {
  background-color: #e3eff0;
  color: #FFFFFF;
  position: relative;
  height: 100vh;
  background-image: url("image-header.jpg");
  background-size: cover;
  background-position:center;
 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
    font-weight: 800;
    font-size: 28.5px;
    margin-top: 10px;
    font-family: 'Barlow', sans-serif;
    
 }

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

#menu-toggle {
  display: none;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  display: inline;
}

.menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  font-size: 48px;
  margin: 0;
  margin-top: 2rem;
  font-family: 'Fraunces', serif;
}


.hero img {
  margin-top: 5rem;
  width: 20%;
  height: 20%;
}

/* Responsive Design */
@media (max-width: 991px) {
  .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 40px;
      background-color: #55DDE0;
      padding: 20px;
      border-radius: 8px;
  }

  .menu-icon {
      display: block;
  }

  #menu-toggle:checked + .menu-icon + .menu {
      display: flex;
  }
}
